directory: ~/Music
library: ~/Music/beets.db
plugins:
  - acousticbrainz
  - check
  - edit
  - fetchart
  #  - follow
  - fuzzy
  - info
  - lastgenre
  - lyrics
  - mbcollection
  - mpdupdate
  - play
  - replaygain
  - thumbnails
  - web
import:
  copy: no
  move: yes
  link: no
lastgenre:
  whitelist: ~/.config/beets/whitelist
lyrics:
  fallback: ''
play:
  command: mpv --no-vid --no-resume-playback
mpd:
  host: localhost
  port: 6600
  password: "{{@@ env['PASS_MPD_ADMIN'] @@}}"
follow:
  email: reekymarko@reekynet.com
  password: "{{@@ env['PASS_MUSPY'] @@}}"
  userid: w8njp08ude90mfzsgumjhqinnirj4g
  auto: yes
replaygain:
  backend: gstreamer
  auto: yes
musicbrainz:
  user: FunctionalHacker
  pass: "{{@@ env['PASS_MUSICBRAINZ'] @@}}"
mbcollection:
  auto: 'yes'
  collection: 'a4955b5c-db7f-4e27-9887-f77f820bad34'
