volumes:
  hass: {}
  music-assistant: {}
  mosquitto: {}
  piper_english: {}
  whisper_english: {}
  openwakeword_english: {}
  matter-server: {}
  otbr: {}
  esphome: {}
  media:
    external: true

services:
  home-assistant:
    container_name: home-assistant
    image: homeassistant/home-assistant
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
      - hass:/config
    networks:
      - default
      - postgres
      - proxy
    ports:
      - 8123:8123
    extra_hosts:
      - host.docker.internal:host-gateway
    cap_add:
      - NET_ADMIN
      - NET_RAW

  matter-server:
    image: ghcr.io/matter-js/matterjs-server
    container_name: matter-server
    restart: unless-stopped
    network_mode: host
    environment:
      - BLUETOOTH_ADAPTER=0
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - matter-server:/data/
      - /run/dbus:/run/dbus:ro

  otbr:
    image: ghcr.io/ownbee/hass-otbr-docker
    container_name: otbr
    restart: unless-stopped
    network_mode: host
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
    devices:
      - /etc/localtime:/etc/localtime:ro
      - /dev/serial/by-id/usb-Nabu_Casa_Home_Assistant_Connect_ZBT-1_e2bfe3de3c12f01181950514773d9da9-if00-port0:/dev/ttyUSB1
      - /dev/net/tun:/dev/net/tun
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - otbr:/var/lib/thread
    environment:
      DEVICE: '/dev/ttyUSB1'
      BACKBONE_IF: enp2s0
      FLOW_CONTROL: 1
      FIREWALL: 1
      NAT64: 1
      BAUDRATE: 460800
      OTBR_REST_PORT: 8081
      OTBR_WEB_PORT: 7586
      AUTOFLASH_FIRMWARE: 0
    privileged: true

  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto
    restart: unless-stopped
    networks:
      - default
      - proxy
    ports:
      - 1883:1883
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - mosquitto:/mosquitto

  esphome:
    container_name: esphome
    image: ghcr.io/esphome/esphome
    network_mode: host
    profiles:
      - esphome
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - esphome:/config

  music-assistant:
    image: ghcr.io/music-assistant/server
    container_name: music-assistant
    restart: unless-stopped
    network_mode: host
    volumes:
      - music-assistant:/data/
      - media:/media
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    security_opt:
      - apparmor:unconfined

  ytdlp-pot-provider:
    image: brainicism/bgutil-ytdlp-pot-provider
    container_name: ytdlp-pot-provider
    restart: unless-stopped
    network_mode: host

  # piper_english:
  #   container_name: piper_english
  #   image: rhasspy/wyoming-piper
  #   restart: unless-stopped
  #   environment:
  #     - TZ=Europe/Helsinki
  #   ports:
  #     - 10200:10200
  #   networks:
  #     - default
  #   command:
  #     - --voice
  #     - en_US-hfc_male-medium
  #   volumes:
  #     - piper_english:/data
  #     - /etc/localtime:/etc/localtime:ro
  #
  # whisper_english:
  #   container_name: whisper_english
  #   image: rhasspy/wyoming-whisper
  #   restart: unless-stopped
  #   environment:
  #     - TZ=Europe/Helsinki
  #   ports:
  #     - 10300:10300
  #   networks:
  #     - default
  #   depends_on:
  #     - home-assistant
  #   command:
  #     - --model
  #     - tiny-int8
  #     - --language
  #     - en
  #   volumes:
  #     - whisper_english:/data
  #     - /etc/localtime:/etc/localtime:ro

networks:
  postgres:
    external: true
  proxy:
    external: true
