themes {
	kanagawa {
		fg "#dcd7ba"
	  bg "#1f1f28"
	  black "#090618"
	  red "#c34043"
	  green "#76946a"
	  yellow "#c0a36e"
	  blue "#7e9cd8"
	  magenta "#957fb8"
	  cyan "#6a9589"
	  white "#c8c093"
	  orange "#ffa066"
	}
}
