[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "docker/newsblur/NewsBlur"]
	path = docker/newsblur/NewsBlur
	url = https://github.com/samuelclay/NewsBlur.git
