config:
  backup: true
  banner: true
  create: true
  dotpath: root
  ignoreempty: false
  keepdot: true
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
  showdiff: false
  workdir: ~/.config/sdotdrop
dotfiles:
  f_60-uinput-permissions.rules:
    dst: /etc/udev/rules.d/60-uinput-permissions.rules
    src: etc/udev/rules.d/60-uinput-permissions.rules
  d_bin:
    dst: /usr/local/bin
    src: usr/local/bin
  d_network:
    src: etc/systemd/network
    dst: /etc/systemd/network
  f_networkd.conf:
    src: etc/systemd/networkd.conf
    dst: /etc/systemd/networkd.conf
  f_99-sysctl.conf:
    dst: /etc/sysctl.d/99-sysctl.conf
    src: etc/sysctl.d/99-sysctl.conf
  f_adb.service:
    dst: /etc/systemd/system/adb.service
    src: etc/systemd/system/adb.service
  f_clamd.conf:
    dst: /etc/clamav/clamd.conf
    src: etc/clamav/clamd.conf
  f_cryptissue:
    dst: /etc/cryptissue
    src: etc/cryptissue
  f_detected.sh:
    dst: /etc/clamav/detected.sh
    src: etc/clamav/detected.sh
  f_freetype2.sh:
    dst: /etc/profile.d/freetype2.sh
    src: etc/profile.d/freetype2.sh
  f_fonts.conf:
    dst: /etc/fonts/local.conf
    src: etc/fonts/local.conf
  f_locale.conf:
    dst: /etc/locale.conf
    src: etc/locale.conf
  f_locale.gen:
    dst: /etc/locale.gen
    src: etc/locale.gen
  f_logind.conf:
    dst: /etc/systemd/logind.conf
    src: etc/systemd/logind.conf
  f_bluetooth.conf:
    dst: /etc/bluetooth/main.conf
    src: etc/bluetooth/main.conf
  f_pacman.conf:
    dst: /etc/pacman.conf
    src: etc/pacman.conf
  f_sshd_config:
    dst: /etc/ssh/sshd_config
    src: etc/ssh/sshd_config
  f_welcomemessage.conf:
    dst: /etc/welcomemessage.conf
    src: etc/welcomemessage.conf
  f_getty.conf:
    src: etc/systemd/system/getty@tty1.service.d/override.conf
    dst: /etc/systemd/system/getty@tty1.service.d/override.conf
  f_99-conbee-usb-serial.rules:
    src: etc/udev/rules.d/99-conbee-usb-serial.rules
    dst: /etc/udev/rules.d/99-conbee-usb-serial.rules
  f_99-lowbat.rules:
    src: etc/udev/rules.d/99-lowbat.rules
    dst: /etc/udev/rules.d/99-lowbat.rules
  f_sleep.conf:
    src: etc/systemd/sleep.conf
    dst: /etc/systemd/sleep.conf
  f_fstab:
    src: etc/fstab
    dst: /etc/fstab
  f_ignore:
    src: .ignore
    dst: /.ignore
  f_mkinitcpio.conf:
    src: etc/mkinitcpio.conf
    dst: /etc/mkinitcpio.conf
  f_vconsole.conf:
    src: etc/vconsole.conf
    dst: /etc/vconsole.conf
  f_20-quiet-printk.conf:
    src: etc/sysctl.d/20-quiet-printk.conf
    dst: /etc/sysctl.d/20-quiet-printk.conf
  f_system.conf:
    src: etc/systemd/system.conf
    dst: /etc/systemd/system.conf
  f_cpupower:
    src: etc/default/cpupower
    dst: /etc/default/cpupower
  f_pacserve.service.conf:
    src: etc/pacserve/pacserve.service.conf
    dst: /etc/pacserve/pacserve.service.conf
  f_encrypt:
    src: usr/lib/initcpio/hooks/encrypt
    dst: /usr/lib/initcpio/hooks/encrypt
profiles:
  Network:
    dotfiles:
    - d_network
    - f_networkd.conf
  Locale:
    dotfiles:
    - f_locale.conf
    - f_locale.gen
  Pacman:
    dotfiles:
    - f_pacman.conf
    - f_pacserve.service.conf
  Mirkwood:
    dotfiles:
    - f_getty.conf
    - f_cryptissue
    - f_welcomemessage.conf
    - d_bin
    - f_adb.service
    - f_bluetooth.conf
    - f_sshd_config
    - f_logind.conf
    - f_60-uinput-permissions.rules
    - f_freetype2.sh
    - f_fonts.conf
    - f_99-lowbat.rules
    - f_ignore
    - f_mkinitcpio.conf
    - f_vconsole.conf
    - f_20-quiet-printk.conf
    - f_system.conf
    - f_cpupower
    - f_encrypt
    include:
    - Locale
    - Pacman
    - Network
  Moria:
    include:
    - Locale
    - Pacman
    - Network
    dotfiles:
    - f_sshd_config
    - f_99-sysctl.conf
    - f_cpupower
  Gondor:
    include:
    - Locale
    - Pacman
    dotfiles:
    - f_sshd_config
  localhost:
    include:
    - Locale
  Edoras:
    include:
    - Pacman
