actions:
  chmod-wireguard: chmod 0640 /etc/systemd/network/99-wireguard.netdev
config:
  backup: true
  banner: true
  create: true
  dotpath: root
  ignoreempty: false
  keepdot: true
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
  showdiff: false
  workdir: ~/.config/sdotdrop
dotfiles:
  f_60-uinput-permissions.rules:
    dst: /etc/udev/rules.d/60-uinput-permissions.rules
    src: etc/udev/rules.d/60-uinput-permissions.rules
  d_bin:
    dst: /usr/local/bin
    src: usr/local/bin
  d_networkd:
    actions:
      - chmod-wireguard
    src: etc/systemd/network
    dst: /etc/systemd/network
  f_99-sysctl.conf:
    dst: /etc/sysctl.d/99-sysctl.conf
    src: etc/sysctl.d/99-sysctl.conf
  f_adb.service:
    dst: /etc/systemd/system/adb.service
    src: etc/systemd/system/adb.service
  f_clamd.conf:
    dst: /etc/clamav/clamd.conf
    src: etc/clamav/clamd.conf
  f_cryptissue:
    dst: /etc/cryptissue
    src: etc/cryptissue
  f_detected.sh:
    dst: /etc/clamav/detected.sh
    src: etc/clamav/detected.sh
  f_freetype2.sh:
    dst: /etc/profile.d/freetype2.sh
    src: etc/profile.d/freetype2.sh
  f_iwd@.service:
    dst: /etc/systemd/system/iwd@.service
    src: etc/systemd/system/iwd@.service
  f_fonts.conf:
    dst: /etc/fonts/local.conf
    src: etc/fonts/local.conf
  f_locale.conf:
    dst: /etc/locale.conf
    src: etc/locale.conf
  f_locale.gen:
    dst: /etc/locale.gen
    src: etc/locale.gen
  f_logind.conf:
    dst: /etc/systemd/logind.conf
    src: etc/systemd/logind.conf
  f_bluetooth.conf:
    dst: /etc/bluetooth/main.conf
    src: etc/bluetooth/main.conf
  f_pacman.conf:
    dst: /etc/pacman.conf
    src: etc/pacman.conf
  f_sshd_config:
    dst: /etc/ssh/sshd_config
    src: etc/ssh/sshd_config
  f_timesyncd.conf:
    dst: /etc/systemd/timesyncd.conf
    src: etc/systemd/timesyncd.conf
  f_welcomemessage.conf:
    dst: /etc/welcomemessage.conf
    src: etc/welcomemessage.conf
  f_getty.conf:
    src: etc/systemd/system/getty@tty1.service.d/override.conf
    dst: /etc/systemd/system/getty@tty1.service.d/override.conf
  f_99-conbee-usb-serial.rules:
    src: etc/udev/rules.d/99-conbee-usb-serial.rules
    dst: /etc/udev/rules.d/99-conbee-usb-serial.rules
  f_99-lowbat.rules:
    src: etc/udev/rules.d/99-lowbat.rules
    dst: /etc/udev/rules.d/99-lowbat.rules
  f_sleep.conf:
    src: etc/systemd/sleep.conf
    dst: /etc/systemd/sleep.conf
  f_fstab:
    src: etc/fstab
    dst: /etc/fstab
  f_ignore:
    src: .ignore
    dst: /.ignore
  f_mkinitcpio.conf:
    src: etc/mkinitcpio.conf
    dst: /etc/mkinitcpio.conf
  f_vconsole.conf:
    src: etc/vconsole.conf
    dst: /etc/vconsole.conf
  f_20-quiet-printk.conf:
    src: etc/sysctl.d/20-quiet-printk.conf
    dst: /etc/sysctl.d/20-quiet-printk.conf
  f_ipmi-static.service:
    src: etc/systemd/system/ipmi-static.service
    dst: /etc/systemd/system/ipmi-static.service
  f_ipmi-temp.service:
    src: etc/systemd/system/ipmi-temp.service
    dst: /etc/systemd/system/ipmi-temp.service
  f_ipmi-temp.timer:
    src: etc/systemd/system/ipmi-temp.timer
    dst: /etc/systemd/system/ipmi-temp.timer
  f_ipmi-fans.service:
    src: etc/systemd/system/ipmi-fans.service
    dst: /etc/systemd/system/ipmi-fans.service
  f_ipmi-fans.timer:
    src: etc/systemd/system/ipmi-fans.timer
    dst: /etc/systemd/system/ipmi-fans.timer
  f_system.conf:
    src: etc/systemd/system.conf
    dst: /etc/systemd/system.conf
  f_cpupower:
    src: etc/default/cpupower
    dst: /etc/default/cpupower
  f_arch.conf:
    src: boot/loader/entries/arch.conf
    dst: /boot/loader/entries/arch.conf
  f_arch-lts.conf:
    src: boot/loader/entries/arch-lts.conf
    dst: /boot/loader/entries/arch-lts.conf
  f_kodi.conf:
    src: boot/loader/entries/kodi.conf
    dst: /boot/loader/entries/kodi.conf
  f_pacserve.service.conf:
    src: etc/pacserve/pacserve.service.conf
    dst: /etc/pacserve/pacserve.service.conf
profiles:
  Locale:
    dotfiles:
      - f_locale.conf
      - f_locale.gen
  Pacman:
    dotfiles:
      - f_pacman.conf
      - f_pacserve.service.conf
  Mirkwood:
    dotfiles:
      - f_getty.conf
      - f_cryptissue
      - f_welcomemessage.conf
      - d_bin
      - d_networkd
      - f_adb.service
      - f_bluetooth.conf
      - f_iwd@.service
      - f_sshd_config
      - f_logind.conf
      - f_60-uinput-permissions.rules
      - f_freetype2.sh
      - f_fonts.conf
      - f_timesyncd.conf
      - f_99-sysctl.conf
      - f_99-lowbat.rules
      - f_ignore
      - f_mkinitcpio.conf
      - f_vconsole.conf
      - f_20-quiet-printk.conf
      - f_system.conf
      - f_cpupower
      - f_arch.conf
      - f_arch-lts.conf
      - f_kodi.conf
      - f_pacserve.service.conf
    include:
      - Locale
      - Pacman
  Moria:
    include:
      - Locale
      - Pacman
    dotfiles:
      - f_sshd_config
      - f_99-sysctl.conf
  Gondor:
    include:
      - Locale
      - Pacman
    dotfiles:
      - f_sshd_config
      - f_99-sysctl.conf
  localhost:
    include:
      - Locale
