[user]
	email = marko.korhonen@reekynet.com
	name = Marko Korhonen
	signingkey = C514037F1EFF4FA6
[commit]
	signoff = true
	gpgsign = true
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
