[user]
	email = marko.korhonen@reekynet.com
	name = Marko Korhonen
	signingkey = C514037F1EFF4FA6
[commit]
	signoff = true
	gpgsign = true
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
