[user]
	email = marko.korhonen@reekynet.com
	name = Marko Korhonen
	signingkey = C514037F1EFF4FA6

[commit]
	signoff = true
	gpgsign = true

[tag]
	gpgSign = true
	signoff = true

[format]
	signoff = true

[merge]
	prompt = false
	tool = nvim-merge
[mergetool "nvim-merge"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
	prompt = false
	tool = nvim-diff

[difftool "nvim-diff"]
	cmd = nvim -d -c 'set nomodifiable'

[pull]
	rebase = false
