{
	servers {
		trusted_proxies static private_ranges
		trusted_proxies_strict
		client_ip_headers CF-Connecting-IP X-Forwarded-For
	}

	admin 0.0.0.0:2019 {
		origins http://localhost:2019
	}

	metrics {
		per_host
	}

	crowdsec {
		api_url http://crowdsec:8080
		api_key {$CADDY_CS_KEY}
		enable_caddy_metrics
		enable_caddy_error
		enable_hard_fails
	}
}

(anubis) {
	reverse_proxy http://anubis:8923 {
		header_up X-Real-Ip {remote_host}
		header_up X-Http-Version {http.request.proto}
	}
}

korhonen.cc, *.korhonen.cc {
	log
	encode zstd gzip

	tls {
		dns cloudflare {$CF_API_TOKEN}
		resolvers 1.1.1.1
	}

	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
	}

	@static {
		file
		path *.ico *.css *.js *.gif *.webp *.avif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.pdf *.webmanifest
	}

	route {
		crowdsec

		@homepage-www-redir host www.korhonen.cc
		handle @homepage-www-redir {
			redir https://korhonen.cc
		}

		@homepage host korhonen.cc
		handle @homepage {
			# Redirect finnish WIP
			# @redirFinnish {
			#     header Accept-Language *fi-FI*
			#     not path *.js *.css *.png *.jpg *.jpeg *.svg
			#     not path /en* /fi*
			#   }
			#   redir @redirFinnish /fi{uri}
			#
			#   uri strip_prefix /en

			# Matrix delegation
			header /.well-known/matrix/* Content-Type application/json
			header /.well-known/matrix/* Access-Control-Allow-Origin *
			respond /.well-known/matrix/server `{"m.server": "chat.korhonen.cc:443"}`
			respond /.well-known/matrix/client `{
        "m.homeserver": {
          "base_url": "https://chat.korhonen.cc"
        },
        "org.matrix.msc4143.rtc_foci": [
          {
            "type": "livekit",
            "livekit_service_url": "https://lkt.korhonen.cc"
          }
        ],
        "cc.etke.ketesa": {
          "externalAuthProvider": true
        }
      }`

			header @static Cache-Control max-age=5184000
			root * /var/www/korhonen.cc
			file_server
		}

		@wkd host openpgpkey.korhonen.cc
		handle @wkd {
			root * /var/www/openpgpkey.korhonen.cc
			header Access-Control-Allow-Origin "*"
			file_server {
				browse /templates/file_server.html
			}
		}

		@index host index.korhonen.cc
		handle @index {
			import anubis
		}

		@home-assistant host home.korhonen.cc
		handle @home-assistant {
			reverse_proxy home-assistant:8123
		}

		@id host id.korhonen.cc
		handle @id {
			reverse_proxy pocketid:1411
		}

		@forgejo host git.korhonen.cc
		handle @forgejo {
			import anubis
		}

		@searxng host dsearch.korhonen.cc
		handle @searxng {
			reverse_proxy searxng:8080
		}

		@feed host feed.korhonen.cc
		handle @feed {
			reverse_proxy miniflux:8080
		}

		@tv host tv.korhonen.cc
		handle @tv {
			route /* {
				sablier http://sablier:10000 {
					group jellyfin
					session_duration 30m
					dynamic {
						display_name Korhonen TV
						theme ghost
						show_details true
					}
				}
			}

			reverse_proxy jellyfin:8096
		}

		@umami host umami.korhonen.cc
		handle @umami {
			reverse_proxy umami:3000
		}

		@cloud host cloud.korhonen.cc
		handle @cloud {
			@forbidden {
				path /.xml
				path /README
				path /3rdparty/*
				path /lib/*
				path /templates/*
				path /occ
				path /console.php
			}

			handle @forbidden {
				respond 404
			}

			redir /.well-known/carddav /remote.php/dav 301
			redir /.well-known/caldav /remote.php/dav 301

			root * /var/www/cloud.korhonen.cc
			php_fastcgi nextcloud:9000 {
				root /var/www/html
				env front_controller_active true
			}

			file_server
		}

		@drop host drop.korhonen.cc
		handle @drop {
			reverse_proxy drop:3000
		}

		@ipvX host ipv6.korhonen.cc ipv4.korhonen.cc
		handle @ipvX {
			respond {remote_host}
		}

		@garage host garage.korhonen.cc
		handle @garage {
			import anubis
		}

		@mosquitto host mqtt.korhonen.cc
		handle @mosquitto {
			@websockets {
				header Connection *Upgrade*
				header Upgrade websocket
			}
			reverse_proxy @websockets mosquitto:9001
		}

		@monitor host monitor.korhonen.cc
		handle @monitor {
			# Redirect login page to PocketID
			redir /login /login/generic_oauth
			reverse_proxy grafana:3000
		}

		@matrix host chat.korhonen.cc
		handle @matrix {
			# Forward auth to MAS
			@mas_auth path_regexp mas_auth ^/_matrix/client/[^/]+/(login|logout|refresh)(/.*)?$
			reverse_proxy @mas_auth mas:8080

			# Forward synapse endpoints
			reverse_proxy /_matrix/* synapse:8008
			reverse_proxy /_synapse/client/* synapse:8008

			# Allow Synapse admin API only from local network
			@synapse_admin {
				path /_synapse/admin/*
				remote_ip 10.0.2.0/24
			}
			handle @synapse_admin {
				reverse_proxy synapse:8008
			}

			# Rest goes to Element Web
			reverse_proxy element:80
		}

		@mas host mas.korhonen.cc
		handle @mas {
			reverse_proxy mas:8080
		}

		@ketesa host ketesa.korhonen.cc
		handle @ketesa {
			reverse_proxy ketesa:8080
		}

		@errors-demo host error.korhonen.cc
		handle @errors-demo {
			root * /usr/share/errorpages
			file_server browse
		}

		# Fallback for any path that doesn't match any handlers above
		handle {
			error 404
		}
	}

	handle_errors {
		# Show home page's own 404 page if on the home page
		@homepage_404 {
			expression {err.status_code} == 404
			host korhonen.cc
		}
		handle @homepage_404 {
			root * /var/www/korhonen.cc
			rewrite * /404.html
			file_server
		}

		root * /usr/share/errorpages
		rewrite * /{err.status_code}.html
		file_server
	}
}

# Internal handler for traffic that has passed the Anubis challenge
:3001 {
	@forgejo host git.korhonen.cc
	handle @forgejo {
		# Redirect login page to PocketID
		redir /user/login /user/oauth2/Korhonen%20ID
		reverse_proxy forgejo:3000
	}

	@garage host garage.korhonen.cc
	handle @garage {
		route /* {
			sablier http://sablier:10000 {
				group lubelogger
				session_duration 15m
				dynamic {
					display_name "Korhonen Garage"
					theme ghost
					show_details true
				}
			}
		}

		reverse_proxy lubelogger:8080
	}

	@index host index.korhonen.cc
	handle @index {
		root * /var/www/index.korhonen.cc
		file_server {
			browse /templates/file_server.html
		}
	}
}

http://moria.korhonen.lan {
	redir /pacman_cache /pacman_cache/ 308

	handle_path /pacman_cache/* {
		root * /var/cache/pacman/pkg
		file_server {
			browse /templates/file_server.html
		}
	}
}
