korhonen.cc, *.korhonen.cc {
	tls {$CLOUDFLARE_EMAIL} {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}

	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		X-Frame-Options DENY
		X-XSS-Protection 0
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
	}

	@homepage host korhonen.cc
	handle @homepage {
		root * /var/www/korhonen.cc
		file_server
	}

	@wkd host openpgpkey.korhonen.cc
	handle @wkd {
		root * /var/www/wkd
		file_server browse
	}

	@index host index.korhonen.cc
	handle @index {
		root * /var/www/index.korhonen.cc
		file_server browse
	}

	@home-assistant host home.korhonen.cc
	handle @home-assistant {
		reverse_proxy home-assistant:8123
	}

	@authentik host sso.korhonen.cc
	handle @authentik {
		reverse_proxy authentik:9000
	}

	@forgejo host git.korhonen.cc
	handle @forgejo {
		reverse_proxy forgejo:3000
	}

	@woodpecker host ci.korhonen.cc
	handle @woodpecker {
		reverse_proxy woodpecker:8000
	}

	@searx host search.korhonen.cc
	handle @searx {
		reverse_proxy searx:8080
	}

	@freshrss host rss.korhonen.cc
	handle @freshrss {
		reverse_proxy freshrss
	}

	@jellyfin host jellyfin.korhonen.cc
	handle @jellyfin {
		reverse_proxy jellyfin:8096
	}

	@misskey host social.korhonen.cc
	handle @misskey {
		reverse_proxy misskey:3000
	}

	@pihole host pihole.korhonen.cc
	handle @pihole {
		reverse_proxy pihole
	}

	@umami host umami.korhonen.cc
	handle @umami {
		reverse_proxy umami:3000
	}

	@nextcloud host cloud.korhonen.cc
	handle @nextcloud {
		encode gzip

		# .htaccess / data / config / ... shouldn't be accessible from outside
		@forbidden {
			path /.htaccess
			path /data/*
			path /config/*
			path /db_structure
			path /.xml
			path /README
			path /3rdparty/*
			path /lib/*
			path /templates/*
			path /occ
			path /console.php
		}
		handle @forbidden {
			respond 404
		}

		redir /.well-known/carddav /remote.php/dav 301
		redir /.well-known/caldav /remote.php/dav 301

		root * /var/www/nextcloud
		php_fastcgi nextcloud:9000 {
			root /var/www/html
			# Tells nextcloud to remove /index.php from URLs in links
			env front_controller_active true
		}
		file_server browse
	}

	# Fallback for unhandled domains
	handle {
		redir https://korhonen.cc/404.html 301
	}
}
