volumes:
  redis: {}
  media: {}
  custom_templates: {}
  backups: {}
services:
  redis:
    image: redis:alpine
    container_name: authentik-redis
    networks:
      - default
    restart: unless-stopped
    volumes:
      - redis:/data
    healthcheck:
      test:
        - CMD-SHELL
        - redis-cli ping | grep PONG
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
  server:
    image: ghcr.io/goauthentik/server:2025.10.1
    container_name: authentik
    restart: unless-stopped
    command: server
    volumes:
      - media:/media
      - custom_templates:/templates
    env_file:
      - .env
    networks:
      - default
      - postgres
      - proxy
  worker:
    image: ghcr.io/goauthentik/server:2025.10.1
    container_name: authentik-worker
    restart: unless-stopped
    command: worker
    user: root
    volumes:
      - backups:/backups
      - custom_templates:/templates
      - media:/media
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - .env
    networks:
      - default
      - postgres
networks:
  postgres:
    external: true
  proxy:
    external: true
