volumes:
  media: {}
  custom_templates: {}
  backups: {}
services:
  server:
    image: ghcr.io/goauthentik/server:${AUTHENTIK_TAG}
    container_name: authentik
    restart: unless-stopped
    command: server
    volumes:
      - media:/media
      - custom_templates:/templates
    env_file:
      - .env
    networks:
      - default
      - postgres
      - proxy
  worker:
    image: ghcr.io/goauthentik/server:${AUTHENTIK_TAG}
    container_name: authentik-worker
    restart: unless-stopped
    command: worker
    user: root
    volumes:
      - backups:/backups
      - custom_templates:/templates
      - media:/media
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - .env
    networks:
      - default
      - postgres
networks:
  postgres:
    external: true
  proxy:
    external: true
