# Remove socket for gpg agent forwarding
StreamLocalBindUnlink yes

AcceptEnv LANG LC_* TZ

{%@@ if profile == "Moria" @@%}
Port 221
{%@@ endif @@%}
X11Forwarding yes
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
PermitRootLogin no
ChallengeResponseAuthentication no
UsePAM yes
PrintMotd no # pam does that
Subsystem sftp /usr/lib/ssh/sftp-server
