[Unit]
Description=qBittorrent Daemon Service
After=network.target

[Service]
User=qbtuser
ExecStart=/usr/bin/qbittorrent-nox --webui-port=8080

[Install]
WantedBy=multi-user.target
