[Unit]
Description=sway - SirCmpwn's Wayland window manager

[Service]
ExecStartPre=/usr/bin/chvt %I
ExecStart=/usr/bin/dbus-launch --exit-with-session /usr/bin/sway
TTYPath=/dev/tty%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
PAMName=login
User=frodo
WorkingDirectory=/home/frodo
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=QT_PLUGIN_PATH=/usr/lib/kde4/plugins/
Restart=always
RestartSec=2
StandardInput=tty
StandardError=journal
StandardOutput=journal
Nice=-5

[Install]
WantedBy=graphical.target
Alias=display-manager.service
