[NetDev]
Name = wg0
Kind = wireguard
Description = ReekyNET WireGuard

[WireGuard]
PrivateKey = {{@@ env['WIREGUARD_MIRKWOOD_PRIVKEY'] @@}}

[WireGuardPeer]
PublicKey = {{@@ env['WIREGUARD_MORIA_PUBKEY'] @@}}
PresharedKey = {{@@ env['WIREGUARD_MIRKWOOD_PSK'] @@}}
AllowedIPs = 10.200.0.0/24
Endpoint = reekynet.com:48574
PersistentKeepalive = 25
