[Unit]
Description=Aria2 download manager

[Service]
Type=forking
ExecStart=/usr/bin/aria2c --daemon --enable-rpc --rpc-listen-all --rpc-allow-origin-all --rpc-certificate %h/.config/aria2/cert.pem --private-key %h/.config/aria2/key.pem --rpc-secure --save-session %h/.config/aria2/session.lock --input-file %h/.config/aria2/session.lock --conf-path %h/.config/aria2/aria2.conf --dir %h/Downloads
RestartSec=1min
Restart=on-failure

[Install]
WantedBy=default.target
