[Unit]
Description=Script for automatically rotating screen
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/Scripts/autorotate.sh

[Install]
WantedBy=sway-session.target
