[Unit]
Description=Script for sway and i3 to automatically switch the horizontal / vertical window split orientation
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/autotiling

[Install]
WantedBy=sway-session.target
