[Unit]
Description=A simple clipboard manager for Wayland
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste -t text --watch clipman store

[Install]
WantedBy=sway-session.target
