[Unit]
Description=Stores passwords and encryption keys
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/gnome-keyring-daemon --start --components=secrets 

[Install]
WantedBy=sway-session.target
