[Unit]
Description=KDE Connect tray indicator
PartOf=graphical-session.target
Requires=kdeconnectd.service

[Service]
Type=simple
ExecStart=/usr/bin/kdeconnect-indicator

[Install]
WantedBy=sway-session.target
