[Unit]
Description=KDE Connect daemon
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/kdeconnectd

[Install]
WantedBy=sway-session.target
