[Unit]
Description=Neovim headless server

[Service]
Type=simple
ExecStart=/bin/bash --login -c 'nvim --headless --listen %h/.var/nvim.socket'
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
