[Unit]
Description=A lightweight overlay volume/backlight/progress/anything bar for Wayland
PartOf=graphical-session.target

[Service]
Type=simple
ExecStartPre=/usr/bin/mkfifo /tmp/sway.wob
ExecStart=/usr/bin/tail -f /tmp/sway.wob | /usr/bin/wob
ExecStop=/usr/bin/rm /tmp/sway.wob

[Install]
WantedBy=sway-session.target
